*{
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: $ff-main;

}
:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}
body {
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	min-height: 100%;
	position: relative;
	width: 100%;
	background-color: $mainBackground;
}

.wrapper:after {
	content: "";
	display: block;
	height: 50px;
	overflow: hidden;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

p {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

a{
	text-decoration: none;
}

.footer {
	min-height: 50px;
	width: 100%;
	margin-top: -50px;
	position: relative;
}

