.button{
  border: 2px solid $red;
  border-radius: 3px;
  padding: 7px 15px;
  transition-property: background-color, color;
  transition-duration:  0.5s ;

  &:active{
    box-shadow: inset 1px 1px 2px $black;
    border: 2px solid transparent;
    border-radius: 3px;
  }
}

.button--white{
  background-color: #fff;
  color: $red;

  &:hover{
    background-color: $red;
    color: #fff;
  }
}


.button--red{
  background-color: $red;
  color: #fff;

  &:hover{
    background-color: #fff;
    color: $red;
  }
}