@font-face {
  font-family: "FuturaDemiC-R";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/main/FuturaDemiC-Regular.otf);
}

@font-face {
  font-family: 'FuturaNewBook-R';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/main/FuturaNewBook-Regular.otf);
}

@font-face {
  font-family: 'FuturaNewBook-B';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/main/FuturaNewBook-Bold.otf);
}

@font-face {
  font-family: 'OpenSans-R';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/main/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans-SB';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/main/OpenSans-600.ttf) format('truetype');
}