.header-call__icon{
  font-size: rem(16px);
  margin-right: 12px;
  color: inherit;
  vertical-align: top;
}

.header-contact__icon{
  color: $red;

}

.navigation-list__item--icon{
  font-size: rem(10px);
  margin-right: 5px;
  color: $red;
}

.navigation-basket__icon{
  font-size: rem(22px);
}

.navigation-search__icon{
  font-size: rem(18px);
}

.maincontent__icon{
  margin-left: 30px;
  color: #db5b23;
}

.footer-list__icon{
  margin-left: 5px;
}

.footer-contact__icon{
  margin-right: 6px;
}

.footer-contact__icon--font{
  font-size: rem(18px);
}