.header{
  border-bottom: 1px solid $headerDelimeter;
  min-height: 73px;
}

.header__wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.header-logo{
  flex-grow: 1;
}

.header-contacts{
  display: flex;
  line-height: 15.5px;
  flex-flow:row wrap;
}

.header-contact{
  display: flex;
  text-align: center;
  align-items: center;
  color: $black;
  min-height: 30px;
  padding: 0 24px;

  &:not(:first-child){
    border-left: 1px solid $red;
  }

  &:hover{
    color: $red;
  }

  &:first-child,
  &:last-child{
    align-self: center;
  }
}

.header-contact__text{
  padding-left: 20px;

  &--font{
    font-size: 13px;
    text-transform: uppercase;
  }
}

.header-call{
  font-size:rem(13px);
  text-transform: uppercase;
}





/*
.header{
  border-bottom: 1px solid $headerDelimeter;
  padding: 5px 0 10px 0;
}

.header__top{
  @extend %clearfix;

}

.header-logo{
  float:left;
  width: 10.5%;
}

.header-contacts{
  float: left;
  width: 71.5%;
  margin-top: 20px;
  @extend %clearfix;
}

.header-contact{
  display: block;
  float: left;
  width: 33.3%;
  border-left: 1px solid #fb6123;

}

.header-contact__text{
  vertical-align: middle;
}

.header-call{
  display: block;
  font-size: rem(13px);
  float: right;
  width: 18%;
  margin-top: 18px;
  text-transform: uppercase;
  color: red;

  &__text{
    vertical-align: top

  }

  &--icon{
    vertical-align: top;
    font-size: 16px;
    margin: 0 12px 0 0;
  }
}
*/


