.maincontent-wrapper{
  display: flex;
  flex-flow:row wrap;
  min-height: 100%;
  width: 100%;
  justify-content: space-between;
}

.maincontent-block{
  display: flex;
  flex-flow:column nowrap;
  justify-content: space-between;
  width: 488px;
  margin-bottom: 40px;

}

.maincontent--margin{

  &:not(:last-child){
    margin-bottom: 30px;
  }
}

.maincontent__bblock{
  position: relative;
  overflow: hidden;
  display: block;
  height: 420px;
  background-color: $black;

  &:hover{

    .maincontent__description{
      bottom: -250px;
    }
  }
}

.maincontent__sblock{
  overflow: hidden;
  position: relative;
  display: block;
  height: 195px;
  background-color: $black;

  &:hover{

    .maincontent__description{
      bottom: -250px;
    }
  }
}

.maincontent__video{
  min-height: 100%;
  width: 100%;
}

.maincontent__pic{
  height: 100%;
  width: 100%;
}

.maincontent__description{
  position: absolute;
  height: 90px;
  width: 100%;
  background-color: transparent;
  color: #fff;
  left: 0;
  bottom: 0;
  transition: 0.5s;

  &--photo{
    height: 120px;
  }
}


.maincontent__text{
  font-size: rem(22px);
  margin: 0 0 10px 30px;
  word-wrap: break-word;
}

.maincontent__attr{
  font-size: rem(12px);
  margin-left: 12px;
  color: #fff;

  &--font{
    font-size: rem(14px);
  }
}



.maincontent--bplay{
  position: absolute;
  width: 110px;
  height: 110px;
  border: 2px solid #eeeded;
  border-radius: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  &:after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #ffffff;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.maincontent--splay{
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #eeeded;
  border-radius: 50%;
  left: 45%;
  top: 16%;
  right: 0;


  &:after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ffffff;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.maincontent__button{
  font-size: rem(13px);
  display: block;
  width: 150px;
  margin: 0 auto 67px;
  text-transform: uppercase;
  text-align: center;
}