.navigation{
  border-bottom: 1px solid $headerDelimeter;
  font-size: rem(14px);
  text-transform: uppercase;
}

.navigation__wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  min-height: 50px;
}

.navigation-list{
  flex-grow: 2;

}

.navigation-list__item{
  display: inline-block;
  margin-right: 24px;
  min-height: 50px;
  padding: 15px 0;
  color: $black;
  cursor: pointer;

  &:hover{
    border-bottom: 1px solid $red;
    color: $grey;
  }
}

.navigation-list__link{
  color: inherit;
}

.navigation-basket{
  align-self: center;
}

.navigation-basket__link{
  font-size: rem(13px);
  color: $black;

  &:hover{
    color: $grey;
  }
}

.navigation-basket__text{
  margin-left: 10px;
  vertical-align: 4px;
}

.navigation-basket__amount{
  @include inlineblock(4px);
  font-size: rem(10px);
  background-color: $red;
  width: 20px;
  height: 15px;
  text-align: center;
  border-radius: 6px;
  color: #fff;
  margin-left: 10px;
}

.navigation-search{
  align-self: center;
}

.navigation-search__link{
  margin-left: 45px;
  color: $black;

  &:hover{
    color: $grey;
  }
}

.navigation-list__item--active{
  border-bottom: 1px solid $red;
  color: $grey;
}