.footer{
  background-color: $footerBackground;
}

.footer-wrapper{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.footer__top,
.footer__middle,
.footer__bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}