.footer__bottom{
  font-family: $ff-openSans-R;
  font-size: rem(13px);
  color: $footerBottomText;
  padding: 10px 0 20px;
}

.footer-copyright{
  width: 60%;
}

.footer-copyright__desc{
  font-size: rem(12px);
  color: rgba($footerBottomText, 0.4);
}

.footer-created__link{
  color: #a2a5a9;

  &:hover{
    color: lighten(#a2a5a9, 30%);
  }
}

.footer-copyright__desc--link{
  color: $footerBottomText;

  &:hover{
    color: lighten(#a2a5a9, 20%);
  }
}