.footer__top{
  color: $footerTopText;
  padding: 15px 0;
  border-bottom: 1px solid #404245 ;
}

.footer-list{
  font-size: rem(13px);
  &:first-child{

  }
}

.footer-list__item{
  @include inlineblock();
  text-transform: uppercase;
  margin-left: 38px;
}

.footer-list__link{
  color: inherit;

  &:hover{
    color: lighten($footerTopText, 30%);
  }
}
