.footer__middle{
  font-family: $ff-openSans-R;
  font-size: rem(14px);
  color: $footerMiddleText;
  padding: 15px 0;
  border-bottom: 1px solid #2e2f32;
}

.footer-contacts__contact{
  padding-right: 45px;
  color: inherit;

  &:hover{
    color: lighten($footerMiddleText, 30%);
  }
}

.footer-socials{

}

.footer-socials__link{
  display: inline-block;
  margin-left: 10px;
  transition: 0.5s;

  &:hover{
    transform: scale(1.2);
  }
}


.footer-socials__link--fb{
  @include sprite($social-fb);

}

.footer-socials__link--tw{
  @include sprite($social-tw);
}

.footer-socials__link--vk{
  @include sprite($social-vk);
}