//vars
$ff-main: 'FuturaDemiC-R';
$ff-openSans-R: 'OpenSans-R';
$ff-openSans-SB: 'OpenSans-SB';
$black: #000000;
$grey: #999999;
$galleryBGC: #f5f5f5;
$checkboxes: #ff4e03;
$headerDelimeter: #e7e7e7;
$mainBackground: #ffffff;
$footerBackground: #222326;
$footerBottomText: #5e6164;
$footerMiddleText: #a2a5a9;
$footerTopText: #636669;
$red: #fa5b17;

//fonts
@import "_misc/fonts";
@import "_misc/font-awesome.min";


// others
@import "sprite";
@import "_misc/mixins";
@import "_misc/adjustment";


// styles
@import "_misc/buttons";
@import "_misc/icons";
@import "sections/header";
@import "sections/navigation";
@import "sections/gallery/gallery";
@import "sections/gallery/galleryForm";
@import "sections/maincontent";
@import "sections/footer/footer";
@import "sections/footer/footer-top";
@import "sections/footer/footer-middle";
@import "sections/footer/footer-bottom";


