.gallery{
  background-color: #fff;
  padding: 12px 0 0 0;
  margin-bottom: 26px;
}

.gallery-nav-list{
  font-family: $ff-openSans-R;
  font-size: rem(13px);
}

.gallery-nav-list__item{
  position: relative;
  display: inline-block;
  padding-right: 17px;

  &:not(:first-child):before{
    position: absolute;
    content: '\003E';
    left: -13px;
  }
}

.gallery-nav-list__link{
  color: #4e4e4e;

  &:hover{
    color: darken(#4e4e4e, 50%);
  }
}


.gallery-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: row wrap;
  margin: 10px 0 25px 0;
}

.gallery-left-list{
  @include inlineblock();
}

.gallery-left__title{
  @include inlineblock();
  font-size: rem(28px);
  margin: 0 20px 0 0;

}


.gallery-left-list__item{
  @include inlineblock();
  font-family: $ff-openSans-SB;
  font-size: rem(13px);
  color: $red;
  text-transform: lowercase;
  padding-right: 14px;
  margin-top: 16px;

  &:hover{
    color: $black;
  }
}

.gallery-left-list__link{
  color: inherit;

}

.gallery-right-list__item{
  position: relative;
  @include inlineblock();
  font-family: $ff-main;
  font-size: rem(12px);
  background-color: $red;
  color: #fff;
  margin-left: 8px;
  cursor: pointer;

}

.gallery-right-list__link{
  color: inherit;
  background-color: inherit;
  text-transform: uppercase;
  padding: 8px 16px;
}


.gallery-left-list__item--active{
  color: $black;
}

.gallery-right__item--active{
  background-color: #fff;
  color: $red;

  &:after{
    position: absolute;
    content: '';
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent $galleryBGC transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: -33px;
  }
}

