.gallery-form{
  min-height: 225px;
  background-color: $galleryBGC;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: center;
}

.gallery-form__title{
  font-size: rem(18px);
  margin-bottom: 10px;
}

.gallery-form-wrapper{
  font-size: rem(13px);
}

.gallery-form__input{
  position: absolute;
  opacity: 0;

  &:checked+.gallery-form__label:before{
    border: 1px solid $checkboxes;
    border-radius: 2px;
  }

  &:checked+.gallery-form__label:after{
    opacity: 1;
  }

  &:disabled + .gallery-form__label{
    color: #828181;
  }

}

.gallery-form__label{
  @include inlineblock();
  position: relative;
  padding: 0 55px 10px 30px;
  cursor: pointer;

  &:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
  }

  &:after{
    content: '\2714';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 10px;
    height: 10px;
    color: $checkboxes;
    opacity: 0;
  }

  &:hover:before{
    border: 1px solid $red;
  }

}

.gallery-form__label-type{
  text-transform: lowercase;
}

.gallery-form-color__input{
  position: absolute;
  opacity: 0;

  &:checked+.gallery-form-color__label:before{
    opacity: 1;
  }
}

.gallery-form-color__label{
  @include inlineblock();
  position: relative;
  text-transform: lowercase;
  padding: 0 60px 15px 30px;
  cursor: pointer;

  &:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $black;
    border-radius: 50%;
    opacity: 0;
  }

  &:after{
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: $black;
    border-radius: 50% ;
    opacity: 1;
  }

  &:hover:before{
    opacity: 1;
  }

}

.gallery-form-type{
  margin-left: 60px;
}

.gallery-form-country{
  margin-left: 95px;
}

.gallery-form-type,
.gallery-form-color,
.gallery-form-country{
  width: 25%;
  height: 195px;

}

.gallery-form__block{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 150px;

  &:after{
    content: "";
    height: 100%;
    width: 100%;
    flex-shrink: 1;
  }
}


