doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge, chrome=1")
        meta(name='viewport' content='width=device-width')
        title This is a fiasco
        <!-- build:css css/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        link(rel="stylesheet" href="css/main.css")

    body
        .wrapper
            .maincontent
                include sections/header
                include sections/navigation
                include sections/gallery/gallery
                include sections/maincontent
        include sections/footer

        <!-- build:js js/vendor.js -->
        <!-- bower:js -->

        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js js/scripts.min.js -->
        script(src="../src/js/gallery.js")
        script(src="../src/js/nav.js")
        script(src="../src/js/galleryForm.js")
        script
        <!-- endbuild -->