- var galleryType = ['Пустотелый', 'Полнотелый', 'Поризованный', 'Ручной формовки', 'Клинкер']
- var galleryColor = ['Белый', 'Желтый', 'Красный', 'Коричневый', 'Пестрый', 'Серый', 'Черный']
- var galleryCountry = ['Россия', 'Эстония', 'Финляндия', 'Бельгия', 'Германия', 'Голландия', 'Польша', 'Великобритания']

form.gallery-form
    .gallery-form-type
        h1.gallery-form__title Тип
        .gallery-form__block
            -for (var x = 0; x < galleryType.length; x++)
                .gallery-form-wrapper
                    input(type="checkbox" id="type-" + x).gallery-form__input.gallery-form__input-type
                    label(for="type-" + x).gallery-form__label.gallery-form__label-type=galleryType[x]

    .gallery-form-color
        h1.gallery-form__title Цвет
        .gallery-form__block
            -for (var x = 0; x < galleryColor.length; x++)
                .gallery-form-wrapper
                    input(type="checkbox" id="color-" + x).gallery-form-color__input
                    label(for="color-" + x).gallery-form-color__label=galleryColor[x]

    .gallery-form-country
        h1.gallery-form__title Страна производитель
        .gallery-form__block
            -for (var x = 0; x < galleryCountry.length; x++)
                .gallery-form-wrapper
                    input(type="checkbox" id="country-" + x).gallery-form__input.gallery-form__input-country
                    label(for="country-" + x).gallery-form__label=galleryCountry[x]