- var galleryNav = ['Главная', 'Галерея']
- var galleryLeftList = ['Все', 'Фотографии', 'Видео']
- var galleryRightList = ['Все', 'Кирпич', 'Черепица', 'Брусчатка', 'Плитка']
section.gallery
    .container
        ul.gallery-nav-list
            each item in galleryNav
                li.gallery-nav-list__item
                    a(href="#").gallery-nav-list__link=item

        .gallery-wrapper
            .gallery-left
                h1.gallery-left__title Галерея
                ul.gallery-left-list
                    each item, index in galleryLeftList
                        if index === 0
                            li.gallery-left-list__item.gallery-left-list__item--active
                                a(href="#").gallery-left-list__link=item
                        else
                            li.gallery-left-list__item
                                a(href="#").gallery-left-list__link=item

            .gallery-right
                ul.gallery-right-list
                    each item, index in galleryRightList
                        if index === 1
                            li.gallery-right-list__item.gallery-right__item--active
                                a.gallery-right-list__link.button.button--red=item
                        else
                            li.gallery-right-list__item
                                a.gallery-right-list__link.button.button--red=item

        include galleryForm
