- var navigationList = ['Каталог', 'О компании', 'Галерея', 'Справочник', 'Новости', 'Доставка', 'Прайс лист', 'Контакты']

mixin contact(href, icon, spanText, linkTarget)
    a(href=href target=linkTarget).footer-contacts__contact
        i(class=icon aria-hidden="true").fa.footer-contact__icon
        span.footer-contacts__text=spanText

footer.footer
    .container
        .footer-wrapper
            .footer__top
                a(href="#").footer__logo: img(src="assets/logo-footer.png" alt="logo")
                ul.footer-list
                    each item in navigationList
                        if item === "Каталог"
                            li.footer-list__item
                                a(href="#").footer-list__link=item
                                    i.fa.fa-chevron-down.footer-list__icon
                        else
                            li.footer-list__item
                                a(href="#").footer-list__link=item

            .footer__middle
                .footer-contacts
                    +contact("tel: +74959806393", "fa-phone", "+7(495)980-63-93")
                    +contact("mailto: info@tdksm.ru", "fa-envelope", "info@tdksm.ru")
                    +contact("https://goo.gl/maps/CD5rK6UTmX42", "fa-map-marker footer-contact__icon--font", "г.Москва, ул.Космонавтов, дом 18, корпус 2", "_blank")

                .footer-socials
                    a(href="https://www.facebook.com/" target="_blank").footer-socials__link.footer-socials__link--fb
                    a(href="https://twitter.com/" target="_blank").footer-socials__link.footer-socials__link--tw
                    a(href="https://vk.com/" target="_blank").footer-socials__link.footer-socials__link--vk

            .footer__bottom
                .footer-copyright
                    p.footer-copyright__title &copy; 2009-2015, ООО &laquo;Торговый дом К.С.М.&raquo;
                    p.footer-copyright__desc Любая информация, размещенная на веб-сайте #[a(href="https://www.tdksm.ru" class="footer-copyright__desc--link") www.tdksm.ru], носит исключительно информационный характер и не явояется публичной офертой или преложением.

                .footer-created
                    p.footer-created__text Разработка сайта &mdash; &nbsp;
                        a(href="#").footer-created__link CLAIR


