header.header
    .container
        .header__wrapper
            a(href="#").header-logo: img.header-logo__picture(src="assets/logo.png" alt="logo")
            .header-contacts
                a.header-contact(href="tel:+74959806393")
                    i.fa.fa-phone.header-contact__icon(aria-hidden="true")
                    span.header-contact__text +7 495 980-63-93

                a.header-contact(href="https://goo.gl/maps/CD5rK6UTmX42" target="_blank")
                    i.fa.fa-map-marker.header-contact__icon(aria-hidden="true")
                    span.header-contact__text г.Москва, ул. Космонавтов,<br> дом 18, корпус 2

                a.header-contact(href="mailto: info@tdksm.ru")
                    i.fa.fa-envelope.header-contact__icon(aria-hidden="true")
                    span.header-contact__text.header-contact__text--font info@tdksm.ru

            a(href="#").header-call.button.button--white
                i.fa.fa-phone.header-call__icon(aria-hidden="true")
                span.header-call__text Заказать звонок

