mixin maincontentBigBlock(poster, sourceSRC, sourceType, descText, attr1, attr2, attr3)
    a(href="#").maincontent__bblock.maincontent--margin
        video(poster=poster width="100%" height="100%").maincontent__video
            source(src=sourceSRC type=sourceType)
        .maincontent--bplay
        .maincontent__description
            p.maincontent__text=descText
            i.fa.fa-clock-o(aria-hidden="true").maincontent__icon
                span.maincontent__attr=attr1
            i.fa.fa-eye(aria-hidden="true").maincontent__icon
                span.maincontent__attr=attr2
            i.fa.fa-bookmark(aria-hidden="true").maincontent__icon
                span.maincontent__attr.maincontent__attr--font=attr3

mixin maincontentSmallBlock(poster, sourceSRC, sourceType, descText, attr1, attr2, attr3)
    a(href="#").maincontent__sblock.maincontent--margin
        video(poster=poster width="100%" height="100%").maincontent__video
            source(src=sourceSRC type=sourceType)
        .maincontent--splay
        .maincontent__description
            p.maincontent__text=descText
            i.fa.fa-clock-o(aria-hidden="true").maincontent__icon
                span.maincontent__attr=attr1
            i.fa.fa-eye(aria-hidden="true").maincontent__icon
                span.maincontent__attr=attr2
            i.fa.fa-bookmark(aria-hidden="true").maincontent__icon
                span.maincontent__attr.maincontent__attr--font=attr3

mixin maincontentPhotoBlock(bg, descText, attr1, attr2, attr3)
    a(href="#").maincontent__bblock.maincontent--margin
        img(src=bg alt="Photo gallery").maincontent__pic
        .maincontent__description.maincontent__description--photo
            p.maincontent__text=descText
            i.fa.fa-camera(aria-hidden="true").maincontent__icon
                span.maincontent__attr=attr1
            i.fa.fa-eye(aria-hidden="true").maincontent__icon
                span.maincontent__attr=attr2
            i.fa.fa-bookmark(aria-hidden="true").maincontent__icon
                span.maincontent__attr.maincontent__attr--font=attr3

main.maincontent
    .container
        .maincontent-wrapper
            .maincontent-block
                +maincontentBigBlock("assets/poster1.png", "", "", "Что нам стоит дом построить", "20:15", "1404", "Paratherm")
                +maincontentSmallBlock("assets/poster2.png", "", "", "Что нам стоит дом построить", "20:15", "1404", "Paratherm")
                +maincontentBigBlock("assets/poster1.png", "", "", "Что нам стоит дом построить", "20:15", "1404", "Paratherm")
                +maincontentSmallBlock("assets/poster2.png", "", "", "Что нам стоит дом построить", "20:15", "1404", "Paratherm")
                +maincontentSmallBlock("assets/poster2.png", "", "", "Что нам стоит дом построить", "20:15", "1404", "Paratherm")

            .maincontent-block
                +maincontentSmallBlock("assets/poster2.png", "", "", "Что нам стоит дом построить", "20:15", "1404", "Paratherm")
                +maincontentSmallBlock("assets/poster2.png", "", "", "Что нам стоит дом построить", "20:15", "1404", "Paratherm")
                +maincontentPhotoBlock("assets/poster3.png", "Дом в жилом комплексе «Эдальго»,  в поселке Коммунарка.", "20:15", "1404", "Paratherm")
                +maincontentPhotoBlock("assets/poster3.png", "Дом в жилом комплексе «Эдальго», в поселке Коммунарка.", "20:15", "1404", "Paratherm")
                +maincontentSmallBlock("assets/poster2.png", "", "", "Что нам стоит дом построить", "20:15", "1404", "Paratherm")

        a(href="#").maincontent__button.button.button--white Показать еще