- var navigationList = ['Каталог', 'О компании', 'Галерея', 'Справочник', 'Новости', 'Доставка', 'Контакты']

nav.navigation
    .container
        .navigation__wrapper
            ul.navigation-list
                each item, index in navigationList
                    if index === 0
                        i.fa.fa-th-large.navigation-list__item--icon(aria-hidden="true")
                        li.navigation-list__item
                            a.navigation-list__link=item

                    else if index === 2
                        li.navigation-list__item.navigation-list__item--active
                            a.navigation-list__link=item

                    else
                        li.navigation-list__item
                            a.navigation-list__link=item

            .navigation-basket
                a(href="#").navigation-basket__link
                    i.fa.fa-shopping-cart.navigation-basket__icon(aria-hidden="true")
                    span.navigation-basket__text Корзина
                    span.navigation-basket__amount 123

            .navigation-search
                a(href="#").navigation-search__link
                    i.fa.fa-search.navigation-search__icon(aria-hidden="true")

